In [9]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [3]:
#https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset
"""
This dataset contains information on default payments, demographic factors, credit data, 
history of payment, and bill statements of credit card clients in Taiwan from April 2005 to September 2005.

Some ideas for exploration:

1 How does the probability of default payment vary by categories of different demographic variables?
2 Which variables are the strongest predictors of default payment?
"""
dataSet = pd.read_csv('creditCardTaiwan.csv')
dataSet.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24.0,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26.0,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,NaN,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,NaN,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2018.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57.0,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [7]:
X = dataSet.drop(['default.payment.next.month'], axis=1)
y = dataSet['default.payment.next.month']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
print("X_Train\n",X_train.head(),end="\n")
print("\nX_Test\n",X_test.head(),end="\n")
print("\nY_Train\n",y_train.head(),end="\n")
print("\nY_Test\n",y_test.head(),end="\n")

X_Train
           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
28004  28005    20000.0    2          2         2  30.0      1      2      0
8560    8561    50000.0    2          2         1  32.0     -1     -1     -1
15484  15485   180000.0    1          1         1  36.0      1     -2     -2
12531  12532    20000.0    2          2         2  50.0      0     -1     -1
24473  24474   340000.0    1          1         2  49.0     -1     -1     -1

       PAY_4  ...  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
28004      0  ...    18979.0     7886.0    19786.0    20025.0       0.0
8560      -1  ...      316.0      316.0      316.0      316.0     282.0
15484     -2  ...        0.0        0.0        0.0        0.0       0.0
12531     -1  ...     6050.0     3100.0        0.0        0.0    2940.0
24473     -1  ...      390.0     1489.0     2140.0     1190.0    2988.0

       PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
28004    7027.0    1000.0   19000.0    6000.0    1000.0
8560      350.0     316.0     316.0     316.0     316.0
15484       0.0       0.0       0.0       0.0       0.0
12531    6050.0    3100.0       0.0       0.0    1035.0
24473     390.0    1489.0    2140.0    1190.0    1190.0

[5 rows x 24 columns]

X_Test
           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
10747  10748   310000.0    1          3         1  32.0      0      0      0
12573  12574    10000.0    2          3         1  49.0     -1     -1     -2
29676  29677    50000.0    1          2         1  28.0     -1     -1     -1
8856    8857    80000.0    2          3         1  52.0      2      2      3
21098  21099   270000.0    1          1         2  34.0      1      2      0

       PAY_4  ...  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
10747      0  ...   110375.0    84373.0    57779.0    14163.0    8295.0
12573     -1  ...     -748.0     1690.0     1138.0      930.0       0.0
29676      0  ...    46257.0    45975.0     1300.0    43987.0       0.0
8856       3  ...    40101.0    40748.0    39816.0    40607.0    3700.0
21098      0  ...    20924.0    22448.0    15490.0    17343.0       0.0

       PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
10747    6000.0    4000.0    3000.0    1000.0    2000.0
12573       0.0    2828.0       0.0     182.0       0.0
29676   46257.0    2200.0    1300.0   43987.0    1386.0
8856     1600.0    1600.0       0.0    1600.0    1600.0
21098    4000.0    2000.0       0.0    2000.0    2000.0

[5 rows x 24 columns]

Y_Train
 28004    1
8560     0
15484    0
12531    0
24473    0
Name: default.payment.next.month, dtype: int64

Y_Test
 10747    0
12573    1
29676    0
8856     1
21098    0
Name: default.payment.next.month, dtype: int64

In [12]:
plt.figure(figsize=(8, 8))
colors = ["steelblue", "orange"]
plt.scatter(dataSet[:, 0], dataSet[:, 1], c=y.ravel(), alpha=0.5, cmap=matplotlib.colors.ListedColormap(colors), edgecolors="black")

TypeError: '(slice(None, None, None), 0)' is an invalid key